recursive-include pcn_pytorch *.cu
recursive-include pcn_pytorch *.cpp
recursive-include pcn_pytorch *.h
recursive-include pcn_pytorch *.cuh
recursive-include pcn_pytorch *.sh
recursive-include pcn_pytorch *.txt
recursive-include pcn_pytorch *.yaml
recursive-include pcn_pytorch *.pth
include README.md
